<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-comments fa-5x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">26</div>
        <div>New Comments!</div>
      </div>
    </div>
  </div>

</div>