<div class="panel panel-yellow">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-shopping-cart fa-5x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">124</div>
        <div>New Orders!</div>
      </div>
    </div>
  </div>

</div>